<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Unidad</title>
</head>
<body>
  <div class="forms" style="top: 20px;">
    <div class="form_header">
      <div class="upload_form">
        <form action="http://192.168.1.47/upload" method="post" enctype="multipart/form-data">
          <p id="msg_upload"></p>
          <input type="file" name="file" id="file" onclick="alertErrorUpload()" multiple><br>
          <input type="submit" value="Upload">
        </form>
        <p id="error_upload"></p>
      </div>

      <div class="create_folder">
        <form action="http://192.168.1.47/create" method="post">
          <p class="msg_create"></p>
          <input type="text" name="text" id="text" onclick="alertErrorCreate()"><br>
          <input type="submit" value="Create">
        </form>
        <p id="error_create"></p>
      </div>
    </div>
  </div>

  <script>
    var up_upload = document.getElementById("msg_upload");
    var up_create = document.getElementById("msg_create");
    var down_upload = document.getElementById("error_upload");
    var down_create = document.getElementById("error_create");
    var file = document.getElementById("file");
    var text = document.getElementById("text");
    up_upload.innerHTML = "Select files";
    up_create.innerHTML = "Write a name";
    function alertErrorUpload(){
      if (file.files.length == 0){
        down_upload.innerHTML = "No has seleccionado nada";
      } else {
        var numFiles = file.files.length;
        down_upload.innerHTML = "Has elegido " + numFiles + " archivos";
      }
    }
    function alertErrorCreate(){
      if (text == ""){
        down_create.innerHTML = "No has seleccionado nada";
      }
    }
  </script>

  <div class="list_content">
  <table>
    <tbody>
      <tr>
        <td>
          <a href="../">
            <img src="../static/img/arrow-back-folder.png" height="40" width="40" alt="folder">
            ..
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  {% for folder in dir_folders %}
  <table>
    <tbody>
      <tr>
        <td>
          <a href="{{(request.path + '/' if request.path != '/' else '') + folder}}">
            <img src="../static/img/folder.png" height="40" width="40" alt="folder">
            {{ folder }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
  {% for file in dir_files %}
  <table>
    <tbody>
      <tr>
        <td>
          <a href="{{(request.path + '/' if request.path != '/' else '') + file}}">
            <img src="../static/img/file-icon.png" height="40" width="40" alt="file">
            {{ file }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
  </div>
</body>
</html>