<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <title>Mi Unidad</title>
</head>
<body class="text-black">
  <nav class="navbar navbar-expand-lg static-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">
          <i class="fa-solid fa-clouds"></i>
          Unidad
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Mi Unidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">
              Salir
              <i class="fa-solid fa-right-from-bracket" style="text-decoration: none;"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- BOTON DE CREAR CARPETA Y SUBIR FICHERIOS -->
  <div style="margin: 0.5% 2%;">
    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#upload" style="background-color: #319795; border: none;">
      Upload
    </button>
    <!-- Modal -->
    <div class="modal fade" id="upload" tabindex="-1" aria-labelledby="upload" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="upload-form">Select files</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="{{url_for('upload_files')}}" method="post" enctype="multipart/form-data">
              <label class="form-label" for="customFile">Upload</label>
              <input type="file" name="file" id="customFile" class="form-control" multiple>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#create" style="background-color: #319795; border: none;">
      Nueva carpeta
    </button>
    <!-- Modal -->
    <div class="modal fade" id="create" tabindex="-1" aria-labelledby="upload" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create-form">Nueva carpeta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="http://192.168.1.47/create" method="post">
              <input type="text" name="text" id="text" class="form-control" placeholder="Carpeta sin nombre"><br>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Crear</button>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Si no lo soluciono lo quito -->
  <div class="arrow-back">
    <a href="..">
      <img src="{{ url_for('static', filename='img/arrow-back-with-dots.png') }}" alt="Arrow Back" width="65" height="35">
    </a>
  </div>

  <table class="table table-hover text-black" style="margin: 0 2%;">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Fecha de modificación</th>
        <th scope="col">Tamaño</th>
      </tr>
    </thead>
    <tbody>
      <!--La k en los for hay que ponerlo si o si, o sino no funciona-->
      {% for k,folder in dir_folders.items() %}
      <tr>
        <th scope="row">
          <a href="{{(request.path + '/' if request.path != '/' else '') + folder.name}}" class="loop-dir" style="color: black; text-decoration: none;">
            <img src="{{ url_for('static', filename='img/folder-icon.png') }}" alt="Folder" width="40" height="40">
            {{ folder.name }}
          </a>
        </th>
        <td>{{ folder.ctime }}</td>
        <td>{{ folder.mtime }}</td>
        <td>---</td>
      </tr>
      {% endfor %}
      {% for k,file in dir_files.items() %}
      <tr>
        <th scope="row">
          <a href="{{(request.path + '/' if request.path != '/' else '') + file.name}}" style="color: black; text-decoration: none;">
            <img src="{{ url_for('static', filename='img/file-icon.png') }}" alt="File" width="40" height="40">
            {{ file.name }}
          </a>
        </th>
        <td>{{ file.ctime }}</td>
        <td>{{ file.mtime }}</td>
        <td>{{ file.size }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="{{url_for('static', filename='js/toggle-theme.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>