@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #435165;
    color: black;
    padding: 0;
    margin: 0;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .my_unit{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active{
    background: #4d5d74;
    color: black;
}

p{
    color: white;
}

.forms{
    margin-top: 7em;
    margin-left: 3em;
}

.list_content{
    margin-left: 3em;
}

table{
    width: 100%;
}

table tr:hover{
    background-color: #4d5d74;
    border: 2em;
}

table tr td a{
    text-decoration: none;
    color: white;
}