body{
    background-color: white;
}

.home_header{
    color: black;
    text-decoration: none;
}

.navbar-custom{
    background-color: #f0f4c3;
}

.list_content{
    margin: 2% 2%;
}

.list_content table{
    width: 100%;
}

.list_content table:hover{
    border-radius: 10px;
    margin: 0.5vh;
    padding: 0.2vh 0.4vh;
    transition: 0.4s;
}

.loop-dir{
    text-decoration: none;
    color: black;
    font-size: medium;
}

.list_content a:hover{
    color: rgb(65, 65, 65);
}

.list_content i{
    text-decoration: none;
    font-size: 1.5em;
}

.go-back{
    margin: 5px 5px;
}

.go-back i{
    font-size: 2em;
}

.folders{
    margin: 10px 25px;
}

.folders i{
    color: rgb(255, 251, 0);
}

.files{
    margin: 10px 25px;
}

.files i{
    color: rgb(111, 111, 255);
}