.navbar{
    background-color: #FFF5F5;
}

.navbar .container .navbar-brand i{
    transform: rotate(-5deg);
}

.navbar .container a :hover{
    transform: none;
}

.navbar .container .nav-item :hover{
    text-decoration: underline;
}

.arrow-back{
    margin: 1% 1%;
}

.arrow-back a{
    text-decoration: none;
}

.double-dots{
    margin-top: 2%;
}

